In [23]:
from pathlib import Path
import pandas as pd
import heapq

In [24]:
raw_train = pd.read_csv(Path("adults_data","adults_raw_train_data.csv"))
raw_test = pd.read_csv(Path("adults_data","adults_raw_test_data.csv"))

raw_total = pd.concat([raw_train, raw_test], ignore_index=True)

In [25]:
raw_total.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,23,Federal-gov,344394,Some-college,10,Married-civ-spouse,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
1,63,Self-emp-inc,165667,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
2,26,Private,276624,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
3,37,Private,219546,Bachelors,13,Married-civ-spouse,Exec-managerial,Other-relative,White,Male,3411,0,47,United-States,<=50K
4,40,Private,103474,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,United-States,<=50K

In [26]:
def check_largest(df, column, n):
    x = heapq.nlargest(n, df[column].unique())
    print(x)

def check_smallest(df, column, n):
    x = heapq.nsmallest(n, df[column].unique())
    print(x)

In [27]:
check_largest(raw_total, 'hours-per-week', 10)

[99, 98, 97, 96, 95, 94, 92, 91, 90, 89]

In [30]:
raw_total['workclass'].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [31]:
raw_total[raw_total['workclass'] == "Never-worked"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
8555,18,Never-worked,162908,11th,7,Never-married,NaN,Own-child,White,Male,0,0,35,United-States,<=50K.
14881,18,Never-worked,157131,11th,7,Never-married,?,Own-child,White,Female,0,0,10,United-States,<=50K
23499,20,Never-worked,273905,HS-grad,9,Married-spouse-absent,NaN,Other-relative,White,Male,0,0,35,United-States,<=50K.
23773,17,Never-worked,131593,11th,7,Never-married,NaN,Own-child,Black,Female,0,0,20,United-States,<=50K.
24252,18,Never-worked,153663,Some-college,10,Never-married,?,Own-child,White,Male,0,0,4,United-States,<=50K
27720,23,Never-worked,188535,7th-8th,4,Divorced,?,Not-in-family,White,Male,0,0,35,United-States,<=50K
29639,18,Never-worked,206359,10th,6,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
31194,17,Never-worked,237272,10th,6,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K
32604,20,Never-worked,462294,Some-college,10,Never-married,?,Own-child,Black,Male,0,0,40,United-States,<=50K
41182,30,Never-worked,176673,HS-grad,9,Married-civ-spouse,?,Wife,Black,Female,0,0,40,United-States,<=50K

In [43]:
raw_total[(raw_total['capital-gain'] - raw_total['capital-loss'] == 99999) & (raw_total['income'] == "<=50K") ]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [39]:
raw_total[raw_total['income'] == ">50K"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
9,37,Self-emp-inc,183800,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,1887,40,United-States,>50K
13,71,Self-emp-inc,66624,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,2392,60,United-States,>50K
16,60,Self-emp-not-inc,376973,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,42,United-States,>50K
19,51,Private,138847,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
25,49,Private,165152,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48824,55,Private,162205,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,5178,0,72,United-States,>50K
48830,42,Private,34278,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
48832,61,Federal-gov,151369,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
48836,30,Self-emp-inc,153549,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
48838,39,Private,365739,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K