In [8]:
from pathlib import Path
import pandas as pd
import heapq

In [10]:
raw_train = pd.read_csv(Path("adults_data","adults_raw_train_data.csv"))
raw_test = pd.read_csv(Path("adults_data","adults_raw_test_data.csv"))

raw_total = pd.concat([raw_train, raw_test], ignore_index=True)

In [11]:
raw_total.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,23,Federal-gov,344394,Some-college,10,Married-civ-spouse,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
1,63,Self-emp-inc,165667,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
2,26,Private,276624,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
3,37,Private,219546,Bachelors,13,Married-civ-spouse,Exec-managerial,Other-relative,White,Male,3411,0,47,United-States,<=50K
4,40,Private,103474,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,0,0,30,United-States,<=50K

In [7]:
def check_largest(df, column, n):
    x = heapq.nlargest(n, df[column].unique())
    print(x)

def check_smallest(df, column, n):
    x = heapq.nsmallest(n, df[column].unique())
    print(x)

In [13]:
check_largest(raw_total, 'hours-per-week', 10)

[99, 98, 97, 96, 95, 94, 92, 91, 90, 89]

In [18]:
(raw_total['hours-per-week'] >= 90).sum()

213